[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
default-time-zone='+8:00'
innodb_rollback_on_timeout='ON'
innodb_lock_wait_timeout=500
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
secure-file-priv=/var/lib/mysql-files
user=mysql
pid-file=/var/run/mysqld/mysqld.pid
port=3306
bind-address=0.0.0.0
max_connections=1000
max_allowed_packet=128M
interactive_timeout=28800
wait_timeout=28800

innodb_file_per_table=1

log-bin=/var/lib/mysql/mysql-bin
log-bin-index=/var/lib/mysql/mysql-bin.index
binlog_row_image=full
binlog_expire_logs_seconds=604800
max_binlog_size=100M
sync_binlog=1
server-id=1


[client]
socket=/var/lib/mysql/mysql.sock
default-character-set=utf8mb4
